<div id="Contacto" class="mt-52 ml-80 mr-52">
  <h1 class="text-6xl text-custom-tittle font-semibold uppercase">Contactame!</h1>
  <div class="mt-10">
    <p class="mt-10 text-xl text-custom-letter2"> Email: Alexander.tapia&#64;alumnos.ucn.cl </p>
  </div>
  <div class="mt-10">
    <p class="mt-10 text-xl text-custom-letter2"> Whatsapp: +56961917853 </p>
  </div>
  <div class="mt-10">
    <a href="https://www.linkedin.com/in/alexander-gubier-oscar-tapia-olmedo-10aa3725b/" class="text-blue-500 mt-2 block">Linkedin</a>
  </div>
</div>
