<div id="Educacion" class="mt-32 ml-80 mr-52">
  <h1 class="text-6xl text-custom-tittle font-semibold uppercase">Educacion</h1>
  <div class="mt-4">
    <h2 class="text-3xl font-semibold text-center flex justify-between">
      <span class="text-custom-tittle">Universidad catolica del norte</span>
      <span class="text-yellow-200">Enero 2019 Actualmente</span>
    </h2>
    <p class="text-lg text-custom-letter2">Ingenieria civil en computacion e informatica</p>
    <p class="text-lg text-custom-letter2">Duración: 5 años</p>
    <button class="bg-blue-500 text-white px-4 py-2 mt-2 rounded-md">Certificado</button>
  </div>
  <div class="mt-4">
    <h2 class="text-3xl font-semibold text-center flex justify-between">
      <span class="text-custom-tittle">Coursera</span>
      <span class="text-yellow-200">Enero 2024 Actualmente</span>
    </h2>
    <p class="text-lg text-custom-letter2">Machine learning google</p>
    <p class="text-lg text-custom-letter2">Duración: 6 meses</p>
    <button class="bg-blue-500 text-white px-4 py-2 mt-2 rounded-md">Certificado</button>
  </div>
</div>
