<div id="Skills" class="mt-52 ml-80 mr-52">
  <h1 class="text-6xl text-custom-tittle font-semibold uppercase">Skills</h1>
  <div class="mt-10">
    <h2 class="mt-10 uppercase text-xl text-custom-letter2"> Lenguajes de programacion </h2>
    <img src="icons/iconC.png" alt="C" class="w-10 h-10 rounded-full bg-center float-left mr-4 mt-3">
  </div>
  <div class="mt-16">
    <h2 class="mt-10 uppercase text-xl text-custom-letter2"> Frameworks y librerias </h2>
    <img src="icons/Tailwind.png" alt="C" class="w-10 h-10 rounded-full bg-center float-left mr-4 mt-3">
  </div>
  <div class="mt-16">
    <h2 class="mt-10 uppercase text-xl text-custom-letter2"> Frameworks y librerias </h2>
    <img src="icons/Unity.png" alt="C" class="w-10 h-10 rounded-full bg-center float-left mr-4 mt-3">
  </div>
</div>
