<div id="Portfolio" class="mt-52 ml-80 mr-52">
  <h1 class="text-6xl text-custom-tittle font-semibold uppercase">portfolio</h1>
</div>

<div class="flex mt-20 ml-80 mr-auto max-w-screen-md">
  <div class="border border-white rounded-lg mr-4" style="max-width: 400px; height: 500px;">
    <div class="w-full h-1/2">
      <img src="images/dream.png" alt="city" class="w-full h-full rounded-lg object-cover">
    </div>
    <div class="mt-4">
      <h2 class="text-2xl font-semibold text-custom-tittle ml-2">Dream city</h2>
      <p class="text-lg mt-2 text-custom-letter2 ml-2">Una ciudad soñada</p>
      <a href="https://cl.pinterest.com/pin/47780446039735070/" class="text-blue-500 mt-2 block ml-2">GitHub</a>
    </div>
  </div>
</div>
