<div id="Sobre" class="mt-52 ml-80 mr-52">
  <h1 class="text-6xl text-custom-tittle font-semibold uppercase">Sobre mí</h1>
  <p class="text-base text-custom-letter2 mt-10">
    Estoy trabajando en varios proyectos personales que enriquecerán significativamente mis conocimientos. Espero alcanzar mis metas en un plazo adecuado. Me apasiona aprender cosas nuevas y aplicarlas en la práctica.
  </p>
</div>
<div class="mt-10 ml-80 mr-52">
  <h2 class="text-3xl text-custom-tittle font-semibold uppercase">
    Actualmente
  </h2>
  <ul class="list-disc pl-5 mt-5 text-base text-custom-letter2">
    <li>Desarrollo de software</li>
    <li>Desarrollo de videojuegos</li>
    <li>Robótica</li>
    <li>Machine Learning</li>
    <li>Automatización</li>
    <li>Ciencia de datos</li>
  </ul>
</div>
