<div class="flex w-full min-h-screen bg-custom-purple2">
  <!-- Sección Sidebar -->
  <audio id="background-music" autoplay loop>
    <source src="music/Cyberpunk.mp3" type="audio/mp3">
    Your browser does not support the audio element.
  </audio>
  <div class="w-60 bg-custom-purple fixed h-full ">
    <nav>
      <ul class="list-none p-0">
        <div class="mt-80">
          <img src="images/Ale2.jpeg" alt="David" class="w-40 h-40 mb-10 rounded-full bg-center my-8 mx-auto">
          <li class="mb-1">
            <a href="#Alexander" class="block text-custom-letter no-underline p-2 hover:text-yellow-200 text-center uppercase font-ruso">Alexander</a>
          </li>
          <li class="mb-1">
            <a href="#Sobre_mi" class="block text-custom-letter no-underline p-2 hover:text-yellow-200 text-center uppercase font-ruso">Sobre mi</a>
          </li>
          <li class="mb-1">
            <a href="#Portfolio" class="block text-custom-letter no-underline p-2 hover:text-yellow-200 text-center uppercase font-ruso">Portfolio</a>
          </li>
          <li class="mb-1">
            <a href="#Educacion" class="block text-custom-letter no-underline p-2 hover:text-yellow-200 text-center uppercase font-ruso">Educacion</a>
          </li>
          <li class="mb-1">
            <a href="#Skills" class="block text-custom-letter no-underline p-2 hover:text-yellow-200 text-center uppercase font-ruso">Skills</a>
          </li>
          <li class="mb-1">
            <a href="#Contacto" class="block text-custom-letter no-underline p-2 hover:text-yellow-200 text-center uppercase font-ruso">Contacto</a>
          </li>
          <!-- Otros enlaces -->
        </div>
      </ul>
    </nav>
  </div>
  <!-- Contenido principal -->
  <div class="ml-60 flex-1 border-2 box-border h-screen">
    <!-- Sección Alexander -->
    <div id="Alexander" class="section flex-1 h-full bg-custom-purple2 box-border border-2 border-white">
      <div class=" ml-14 h-full mt-80">
        <h1 class="text-8xl font-semibold uppercase">
          <span class="text-custom-tittle mr-6">Alexander</span>
          <span class="text-yellow-300">Tapia</span>
        </h1>
        <p class="typing-effect text-yellow-300">En la direccion de ingeniero civil en computacion e informatica</p>
        <p class="text-2xl text-custom-letter2 mt-4 uppercase"> Bienvenidx a mi portfolio （＾ｖ＾）</p>
        <p class="text-2xl text-custom-letter2 mt-4">
          Ponte en contacto conmigo por correo:
          <a href="mailto:alexandertapiaolmedo@gmail.com" class="text-yellow-200">alexandertapiaolmedo&#64;gmail.com</a>
        </p>
      </div>
    </div>

    <!-- Sección Sobre mí -->
    <div id="Sobre_mi" class="section flex-1 h-full bg-custom-purple2 box-border border-2 border-white">
      <h1 class="text-6xl text-custom-tittle font-semibold uppercase mt-32 ml-10">Sobre mí</h1>
      <p class="text-3xl text-custom-letter2 mt-10 ml-10">
        Estoy trabajando en varios proyectos personales que enriquecerán significativamente mis conocimientos. Espero alcanzar mis metas en un plazo adecuado. Me apasiona aprender cosas nuevas y aplicarlas en la práctica.
      </p>
      <div class="mt-10 ml-2 mr-52">
        <h2 class="text-3xl text-custom-tittle font-semibold uppercase ml-10">
          Actualmente
        </h2>
        <ul class="list-disc pl-5 mt-4 text-xl text-custom-letter2 ml-10">
          <li>Desarrollo de software</li>
          <li>Desarrollo de videojuegos</li>
          <li>Robótica</li>
          <li>Machine Learning</li>
          <li>Automatización</li>
          <li>Ciencia de datos</li>
        </ul>
      </div>
    </div>

    <!-- Sección Portfolio -->
    <div id="Portfolio" class="section flex-1 h-full bg-custom-purple2 box-border border-2 border-white text-custom-letter">
      <h1 class="text-4xl text-custom-tittle font-semibold uppercase ml-6 mt-6">portfolio</h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 mt-10 mx-2 h-[calc(100vh-150px)] overflow-auto">
        <!-- Primer proyecto -->
        <div class="border border-white rounded-lg block bg-custom-purple mb-4 p-3 w-full flex-shrink-0">
          <!-- Contenedor de imagen con tamaño ajustado -->
          <div class="w-full mb-3">
            <img src="images/Virtu.png" alt="city" class="w-full h-auto rounded-lg object-cover mx-auto">
          </div>
          <div class="text-center">
            <h2 class="text-xl font-semibold text-custom-tittle mb-2">Software de compras y administración de usuarios y productos</h2>
            <p class="text-base mt-1 text-custom-letter2 mb-4">
              Proyecto creado con ASP.NET para el backend y Angular e Ionic para el frontend. Utiliza Cloudinary, SQLite, y servicios de autenticación seguros. Incluye búsqueda avanzada, CRUD en diversas áreas y un patrón repositorio para escalabilidad y mantenimiento.
            </p>
            <div class="text-left mb-4">
              <h3 class="text-lg font-semibold text-custom-tittle mb-2">Tecnologías Utilizadas:</h3>
              <ul class="list-disc list-inside text-base text-custom-letter2">
                <li>ASP. Net</li>
                <li>Typescript</li>
                <li>C#</li>
                <li>Tailwind</li>
                <li>HTML</li>
                <li>Angular</li>
                <li>Ionic</li>
                <li>SQL</li>
                <li>Entity framework</li>
                <li>Visual studio</li>
                <li>Cloudinary</li>
                <li>JWT</li>
              </ul>
            </div>
            <div class="flex flex-wrap justify-center gap-1">
              <a href="https://github.com/Katapentakill/Backend-Editado-Taller2-WebMovil/tree/main" class="bg-blue-500 text-white py-2 px-4 rounded inline-block text-center text-sm" target="_blank">BACKEND PROFESOR/AYUDANTE</a>
              <a href="https://github.com/Katapentakill/Backend-WebMovilAle" class="bg-blue-500 text-white py-2 px-4 rounded inline-block text-center text-sm" target="_blank">BACKEND PROPIO</a>
              <a href="https://github.com/Katapentakill/Frontend-IDWM-Ale" class="bg-red-500 text-white py-2 px-4 rounded inline-block text-center text-sm" target="_blank">FRONTEND WEB</a>
              <a href="https://github.com/Katapentakill/Frontend-Mobile-IDWM-Ale" class="bg-red-500 text-white py-2 px-4 rounded inline-block text-center text-sm" target="_blank">FRONTEND MOVIL</a>
            </div>
          </div>
        </div>
        <!-- Segundo proyecto -->
        <div class="border border-white rounded-lg block bg-custom-purple mb-4 p-3 w-full flex-shrink-0">
          <!-- Contenedor de imagen con tamaño ajustado -->
          <div class="w-full mb-3">
            <img src="images/GestionTareas.png" alt="city" class="w-full h-auto rounded-lg object-cover mx-auto">
          </div>
          <div class="text-center">
            <h2 class="text-xl font-semibold text-custom-tittle mb-2">Software de Gestión de Proyectos y Tareas</h2>
            <p class="text-base mt-1 text-custom-letter2 mb-4">
              Aplicación desarrollada utilizando NestJS para el backend, Angular para el frontend web, e Ionic para el desarrollo móvil. La aplicación permite la gestión de empleados, la creación y asignación de tareas, y cuenta con un algoritmo de aprendizaje automático para recomendar trabajadores adecuados a cada tarea.
            </p>
            <div class="text-left mb-4">
              <h3 class="text-lg font-semibold text-custom-tittle mb-2">Tecnologías Utilizadas:</h3>
              <ul class="list-disc list-inside text-base text-custom-letter2">
                <li>NestJS</li>
                <li>Sqlite</li>
                <li>Python</li>
                <li>Typescript</li>
                <li>Tailwind</li>
                <li>HTML</li>
                <li>Angular</li>
                <li>Ionic</li>
                <li>SQL</li>
                <li>BERT</li>
                <li>TypeORM</li>
                <li>Visual studio</li>
                <li>Cloudinary</li>
                <li>JWT</li>
              </ul>
            </div>
            <div class="flex flex-wrap justify-center gap-1">
              <a href="https://github.com/Katapentakill/Port-backend-nestjs" class="bg-blue-500 text-white py-2 px-4 rounded inline-block text-center text-sm" target="_blank">BACKEND</a>
              <a href="https://github.com/Katapentakill/Machine-learning-Gestion-Tareas.git" class="bg-orange-500 text-white py-2 px-4 rounded inline-block text-center text-sm" target="_blank">MACHINE LEARNING SCRIPT</a>
              <a href="https://github.com/Katapentakill/Port-Angular-Tareas" class="bg-red-500 text-white py-2 px-4 rounded inline-block text-center text-sm" target="_blank">FRONTEND WEB</a>
              <a href="https://github.com/Katapentakill/Port-Angular-Tareas-Mobile" class="bg-red-500 text-white py-2 px-4 rounded inline-block text-center text-sm" target="_blank">FRONTEND MOBILE</a>
            </div>
          </div>
        </div>

        <!-- Tercer proyecto -->
        <div class="border border-white rounded-lg block bg-custom-purple mb-4 p-3 w-full flex-shrink-0">
          <!-- Contenedor de imagen con tamaño ajustado -->
          <div class="w-full mb-3">
            <img src="images/dream.png" alt="city" class="w-full h-auto rounded-lg object-cover mx-auto">
          </div>
          <div class="text-center">
            <h2 class="text-xl font-semibold text-custom-tittle mb-2">Obtencion de datos para software propio</h2>
            <p class="text-base mt-1 text-custom-letter2 mb-4">
              Script para obtener informacion y guardarla en una base de datos para su posterior normalizacion y uso.
            </p>
            <div class="text-left mb-4">
              <h3 class="text-lg font-semibold text-custom-tittle mb-2">Tecnologías Utilizadas:</h3>
              <ul class="list-disc list-inside text-base text-custom-letter2">
                <li>NodeJs</li>
                <li>Javascript</li>
                <li>Puppeteer</li>
              </ul>
            </div>
            <div class="flex flex-wrap justify-center gap-1">
              <a href="https://github.com/Katapentakill/WebScrappingCriminalistico.git" class="bg-indigo-500 text-white py-2 px-4 rounded inline-block text-center text-sm" target="_blank">WEB SCRAPPING</a>
            </div>
          </div>
        </div>
        <!-- Cuarto proyecto -->
        <div class="border border-white rounded-lg block bg-custom-purple mb-4 p-3 w-full flex-shrink-0">
          <!-- Contenedor de imagen con tamaño ajustado -->
          <div class="w-full mb-3">
            <img src="images/Portfolio.png" alt="city" class="w-full h-auto rounded-lg object-cover mx-auto">
          </div>
          <div class="text-center">
            <h2 class="text-xl font-semibold text-custom-tittle mb-2">Portfolio</h2>
            <p class="text-base mt-1 text-custom-letter2 mb-4">
              Portfolio personal con todos mis trabajos y experiencias, ademas de tecnologias.
            </p>
            <div class="text-left mb-4">
              <h3 class="text-lg font-semibold text-custom-tittle mb-2">Tecnologías Utilizadas:</h3>
              <ul class="list-disc list-inside text-base text-custom-letter2">
                <li>Typescript</li>
                <li>HTML</li>
                <li>Tailwind</li>
                <li>CSS</li>
              </ul>
            </div>
            <div class="flex flex-wrap justify-center gap-1">
              <a href="https://github.com/Katapentakill/Portfolio" class="bg-red-500 text-white py-2 px-4 rounded inline-block text-center text-sm" target="_blank">FRONTEND</a>
            </div>
          </div>
        </div>
        <!-- Quinto proyecto -->
        <div class="border border-white rounded-lg block bg-custom-purple mb-4 p-3 w-full flex-shrink-0">
          <!-- Contenedor de imagen con tamaño ajustado -->
          <div class="w-full mb-3">
            <img src="images/Criminalistico.png" alt="city" class="w-full h-auto rounded-lg object-cover mx-auto">
          </div>
          <div class="text-center">
            <h2 class="text-xl font-semibold text-custom-tittle mb-2">Estudio criminalistico</h2>
            <p class="text-base mt-1 text-custom-letter2 mb-4">
              Estudio criminalistico de antofagasta con recopilacion de datos, mapa geospacial para la visualizacion y utilizacion de data science para los resultados.
            </p>
            <div class="text-left mb-4">
              <h3 class="text-lg font-semibold text-custom-tittle mb-2">Tecnologías Utilizadas:</h3>
              <ul class="list-disc list-inside text-base text-custom-letter2">
                <li>Visulización de Datos</li>
                <li>Preprocesamiento de Datos</li>
                <li>Matplotlib</li>
                <li>K-Nearest Neighbors</li>
                <li>Python</li>
              </ul>
            </div>
            <div class="flex flex-wrap justify-center gap-1">
              <a href="https://drive.google.com/drive/folders/1qUj5Bg-g1LYvzmRz-exRZe4E9DiMyWRf?usp=sharing" class="bg-green-500 text-white py-2 px-4 rounded inline-block text-center text-sm" target="_blank">DATA</a>
            </div>
          </div>
        </div>
      </div>
    </div>







    <!-- Sección Educación -->
    <div id="Educacion" class="section flex-1 h-full bg-custom-purple2 box-border border-2 border-white">
      <div class="mt-10 ml-10">
        <h1 class="text-6xl text-custom-tittle font-semibold uppercase">Educacion</h1>
        <h2 class="text-3xl font-semibold text-center flex justify-between mt-10">
          <span class="text-custom-tittle">Universidad catolica del norte</span>
          <span class="text-yellow-200 mr-10">Enero 2019 Actualmente</span>
        </h2>
        <p class="text-lg text-custom-letter2">Ingenieria civil en computacion e informatica</p>
        <p class="text-lg text-custom-letter2">Duración: 5 años</p>
      </div>
      <div class="mt-10 ml-10">
        <h2 class="text-3xl font-semibold text-center flex justify-between mt-3">
          <span class="text-custom-tittle">Aprendizaje individual</span>
          <span class="text-yellow-200 mr-10">Enero 2023 Actualmente</span>
        </h2>
        <p class="text-lg text-custom-letter2">Canal de youtube para mi aprendizaje:
          <a href="https://www.youtube.com/channel/UCX9NJ471o7Wie1DQe94RVIg" class="text-custom-link">Fazt Code</a>
        </p>
        <p class="text-lg text-custom-letter2">Duración: Infinito</p>
      </div>
    </div>

<!-- Sección Skills -->
<div id="Skills" class="section flex-1 h-full bg-custom-purple2 box-border border-2 border-white">
  <div class="mt-30">
    <h1 class="text-6xl text-custom-tittle font-semibold uppercase mt-10 ml-10">Skills</h1>

    <!-- Lenguajes de Programación -->
    <div class="mt-10 ml-10">
      <h2 class="text-xl font-semibold uppercase text-custom-letter2">Lenguajes de Programación</h2>
      <div class="flex flex-wrap mt-4">
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/iconC.png" alt="C#" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">C#</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/javascript.png" alt="JavaScript" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">JavaScript</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/typescript.png" alt="TypeScript" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">TypeScript</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/html.png" alt="HTML" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">HTML</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/CSS.png" alt="CSS" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">CSS</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/python.png" alt="Python" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Python</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/sql.png" alt="SQL" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">SQL</span>
        </div>
      </div>
    </div>

    <!-- Frameworks y Librerías -->
    <div class="mt-16 ml-10">
      <h2 class="text-xl font-semibold uppercase text-custom-letter2">Frameworks y Librerías</h2>
      <div class="flex flex-wrap mt-4">
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/angular.png" alt="Angular" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Angular</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/jwt.png" alt="Angular" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">JWT</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/Tailwind.png" alt="Tailwind CSS" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Tailwind CSS</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/react.png" alt="React" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">React</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/nestjs.png" alt="NestJS" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">NestJS</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/nodejs.png" alt="Node.js" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Node.js</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/ionic.png" alt="Ionic" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Ionic</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/puppeteer.png" alt="Puppeteer" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Puppeteer</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/BERT.png" alt="BERT" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">BERT</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/TypeOrm.png" alt="TypeORM" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">TypeORM</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/sqlite.png" alt="SQLite" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">SQLite</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/mongodb.png" alt="MongoDB" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">MongoDB</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/Entity.png" alt="Entity Framework" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Entity Framework</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/net.png" alt="ASP.NET" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">ASP.NET</span>
        </div>
      </div>
    </div>

    <!-- Software y Herramientas -->
    <div class="mt-16 ml-10">
      <h2 class="text-xl font-semibold uppercase text-custom-letter2">Software y Herramientas</h2>
      <div class="flex flex-wrap mt-4">
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/visual.png" alt="Visual Studio Code" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Visual Studio Code</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/Unity.png" alt="Unity" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Unity</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/cloudinary.png" alt="Cloudinary" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Cloudinary</span>
        </div>
      </div>
    </div>

    <!-- Nuevas habilidades -->
    <div class="mt-16 ml-10">
      <h2 class="text-xl font-semibold uppercase text-custom-letter2">Habilidades Adicionales</h2>
      <div class="flex flex-wrap mt-4">
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/data.png" alt="Data" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Preprocesamiento de Datos</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/data.png" alt="Data" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Visulización de Datos</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/matplotlib.png" alt="Matplotlib" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Matplotlib</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/knn.png" alt="KNN" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">K-Nearest Neighbors</span>
        </div>
      </div>
    </div>
  </div>
</div>




    <!-- Sección Contacto -->
    <div id="Contacto" class="section flex-1 h-full bg-custom-purple2 box-border border-2 border-white">
      <div class="mt-80 ml-10">
        <h1 class="text-6xl text-custom-tittle font-semibold uppercase">Contáctame!</h1>

        <div class="mt-10 flex items-center">
          <p class="text-xl text-custom-letter2 flex items-center">
            <img src="icons/email.png" alt="Email Icon" class="w-6 h-6 mr-2">
            Email:
            <a href="mailto:Alexander.tapia@alumnos.ucn.cl" class="text-blue-500 ml-2">
              alexandertapiaolmedo&#64;gmail.com
            </a>
          </p>
        </div>

        <div class="mt-10 flex items-center">
          <p class="text-xl text-custom-letter2 flex items-center">
            <img src="icons/phone.png" alt="WhatsApp Icon" class="w-6 h-6 mr-2">
            WhatsApp:
            <a href="https://wa.me/56961917853" class="text-blue-500 ml-1" target="_blank">
              +56961917853
            </a>
          </p>
        </div>

        <div class="mt-10 flex items-center">
          <p class="text-xl text-custom-letter2 flex items-center">
            <img src="icons/linkedin.png" alt="Linkedin Icon" class="w-6 h-6 mr-2">
            Linkedin:
            <a href="https://www.linkedin.com/in/alexander-gubier-oscar-tapia-10aa3725b/" class="text-blue-500 ml-2">
              in/AlexanderTapia
            </a>
          </p>
        </div>

      </div>
    </div>




    <!-- Otras secciones -->
    <footer class="bg-custom-purple text-white text-center py-4">
      <p>© 2024 PortafolioAle - Todos los derechos reservados</p>
    </footer>
  </div>
</div>

