<div class="flex w-full min-h-screen bg-custom-purple2">
  <!-- Sección Sidebar -->
  <audio id="background-music" autoplay loop>
    <source src="music/Cyberpunk.mp3" type="audio/mp3">
    Your browser does not support the audio element.
  </audio>
  <div class="w-60 bg-custom-purple fixed h-full ">
    <nav>
      <ul class="list-none p-0">
        <div class="mt-80">
          <img src="images/David.jpg" alt="David" class="w-40 h-40 mb-10 rounded-full bg-center my-8 mx-auto">
          <li class="mb-1">
            <a href="#Alexander" class="block text-custom-letter no-underline p-2 hover:text-yellow-200 text-center uppercase font-ruso">Alexander</a>
          </li>
          <li class="mb-1">
            <a href="#Sobre_mi" class="block text-custom-letter no-underline p-2 hover:text-yellow-200 text-center uppercase font-ruso">Sobre mi</a>
          </li>
          <li class="mb-1">
            <a href="#Portfolio" class="block text-custom-letter no-underline p-2 hover:text-yellow-200 text-center uppercase font-ruso">Portfolio</a>
          </li>
          <li class="mb-1">
            <a href="#Educacion" class="block text-custom-letter no-underline p-2 hover:text-yellow-200 text-center uppercase font-ruso">Educacion</a>
          </li>
          <li class="mb-1">
            <a href="#Skills" class="block text-custom-letter no-underline p-2 hover:text-yellow-200 text-center uppercase font-ruso">Skills</a>
          </li>
          <li class="mb-1">
            <a href="#Contacto" class="block text-custom-letter no-underline p-2 hover:text-yellow-200 text-center uppercase font-ruso">Contacto</a>
          </li>
          <!-- Otros enlaces -->
        </div>
      </ul>
    </nav>
  </div>
  <!-- Contenido principal -->
  <div class="ml-60 flex-1 border-2 box-border h-screen">
    <!-- Sección Alexander -->
    <div id="Alexander" class="section flex-1 h-full bg-custom-purple2 box-border border-2 border-white">
      <div class=" ml-14 h-full mt-80">
        <h1 class="text-8xl font-semibold uppercase">
          <span class="text-custom-tittle mr-6">Alexander</span>
          <span class="text-yellow-300">Tapia</span>
        </h1>
        <p class="typing-effect text-yellow-300">En la direccion de ingeniero civil en computacion e informatica</p>
        <p class="text-2xl text-custom-letter2 mt-4 uppercase"> Bienvenidx a mi portfolio （＾ｖ＾）</p>
        <p class="text-2xl text-custom-letter2 mt-4">
          Ponte en contacto conmigo por correo:
          <a href="mailto:alexandertapiaolmedo@gmail.com" class="text-yellow-200">alexandertapiaolmedo&#64;gmail.com</a>
        </p>
      </div>
    </div>

    <!-- Sección Sobre mí -->
    <div id="Sobre_mi" class="section flex-1 h-full bg-custom-purple2 box-border border-2 border-white">
      <h1 class="text-6xl text-custom-tittle font-semibold uppercase mt-32 ml-10">Sobre mí</h1>
      <p class="text-3xl text-custom-letter2 mt-10 ml-10">
        Estoy trabajando en varios proyectos personales que enriquecerán significativamente mis conocimientos. Espero alcanzar mis metas en un plazo adecuado. Me apasiona aprender cosas nuevas y aplicarlas en la práctica.
      </p>
      <div class="mt-10 ml-2 mr-52">
        <h2 class="text-3xl text-custom-tittle font-semibold uppercase ml-10">
          Actualmente
        </h2>
        <ul class="list-disc pl-5 mt-4 text-xl text-custom-letter2 ml-10">
          <li>Desarrollo de software</li>
          <li>Desarrollo de videojuegos</li>
          <li>Robótica</li>
          <li>Machine Learning</li>
          <li>Automatización</li>
          <li>Ciencia de datos</li>
        </ul>
      </div>
    </div>

    <!-- Sección Portfolio -->
    <div id="Portfolio" class="section flex-1 h-full bg-custom-purple2 box-border border-2 border-white text-custom-letter">
      <h1 class="text-6xl text-custom-tittle font-semibold uppercase ml-10 mt-10">portfolio</h1>
      <div class="flex mt-20 ml-10 mr-auto max-w-screen-md">
        <div class="border border-white rounded-lg mr-10 block bg-custom-purple" style="max-width: 500px;">
          <div class="w-full">
            <img src="images/dream.png" alt="city" class="w-full h-full rounded-lg object-cover">
          </div>
          <div class="mt-4">
            <h2 class="text-2xl font-semibold text-custom-tittle ml-2">Software de compras y administracion de usuarios y productos</h2>
            <p class="text-lg mt-2 text-custom-letter2 ml-2">
              Proyecto creado con asp.net para el backend y en el frontend se utilizo Angular y Ionic,
              se utilizaron servicios de cloudinary, base de datos en sqlite, todo esto para crear un software funcional con todo lo necesario para funcionar,
              busqueda por caracteristicas especiales, crud en sus respectivas areas, servicios de authenticazion seguros, guardas para proteger las rutas, ademas
              se utilizo un patron repositorio para la legibilidad del backend y su escalado.
            </p>
            <a href="https://cl.pinterest.com/pin/47780446039735070/" class="text-blue-500 mt-2 block ml-2">GitHub</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Sección Educación -->
    <div id="Educacion" class="section flex-1 h-full bg-custom-purple2 box-border border-2 border-white">
      <div class="mt-10 ml-10">
        <h1 class="text-6xl text-custom-tittle font-semibold uppercase">Educacion</h1>
        <h2 class="text-3xl font-semibold text-center flex justify-between mt-10">
          <span class="text-custom-tittle">Universidad catolica del norte</span>
          <span class="text-yellow-200 mr-10">Enero 2019 Actualmente</span>
        </h2>
        <p class="text-lg text-custom-letter2">Ingenieria civil en computacion e informatica</p>
        <p class="text-lg text-custom-letter2">Duración: 5 años</p>
      </div>
      <div class="mt-10 ml-10">
        <h2 class="text-3xl font-semibold text-center flex justify-between mt-3">
          <span class="text-custom-tittle">Aprendizaje individual</span>
          <span class="text-yellow-200 mr-10">Enero 2023 Actualmente</span>
        </h2>
        <p class="text-lg text-custom-letter2">Canal de youtube para mi aprendizaje:
          <a href="https://www.youtube.com/channel/UCX9NJ471o7Wie1DQe94RVIg" class="text-custom-link">Fazt Code</a>
        </p>
        <p class="text-lg text-custom-letter2">Duración: Infinito</p>
      </div>
    </div>

<!-- Sección Skills -->
<div id="Skills" class="section flex-1 h-full bg-custom-purple2 box-border border-2 border-white">
  <div class="mt-30">
    <h1 class="text-6xl text-custom-tittle font-semibold uppercase mt-10 ml-10">Skills</h1>

    <!-- Lenguajes de Programación -->
    <div class="mt-10 ml-10">
      <h2 class="text-xl font-semibold uppercase text-custom-letter2">Lenguajes de Programación</h2>
      <div class="flex flex-wrap mt-4">
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/iconC.png" alt="C#" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">C#</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/javascript.png" alt="JavaScript" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">JavaScript</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/typescript.png" alt="TypeScript" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">TypeScript</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/html.png" alt="HTML" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">HTML</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/CSS.png" alt="CSS" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">CSS</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/python.png" alt="Python" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Python</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/sql.png" alt="SQL" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">SQL</span>
        </div>
      </div>
    </div>

    <!-- Frameworks y Librerías -->
    <div class="mt-16 ml-10">
      <h2 class="text-xl font-semibold uppercase text-custom-letter2">Frameworks y Librerías</h2>
      <div class="flex flex-wrap mt-4">
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/angular.png" alt="Angular" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Angular</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/Tailwind.png" alt="Tailwind CSS" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Tailwind CSS</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/react.png" alt="React" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">React</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/nestjs.png" alt="NestJS" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">NestJS</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/nodejs.png" alt="Node.js" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Node.js</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/ionic.png" alt="Ionic" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Ionic</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/puppeteer.png" alt="Puppeteer" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Puppeteer</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/BERT.png" alt="BERT" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">BERT</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/TypeOrm.png" alt="TypeORM" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">TypeORM</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/sqlite.png" alt="SQLite" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">SQLite</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/mongodb.png" alt="MongoDB" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">MongoDB</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/Entity.png" alt="Entity Framework" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Entity Framework</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/net.png" alt="ASP.NET" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">ASP.NET</span>
        </div>
      </div>
    </div>

    <!-- Software y Herramientas -->
    <div class="mt-16 ml-10">
      <h2 class="text-xl font-semibold uppercase text-custom-letter2">Software y Herramientas</h2>
      <div class="flex flex-wrap mt-4">
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/visual.png" alt="Visual Studio Code" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Visual Studio Code</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/Unity.png" alt="Unity" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Unity</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/cloudinary.png" alt="Cloudinary" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Cloudinary</span>
        </div>
      </div>
    </div>

    <!-- Nuevas habilidades -->
    <div class="mt-16 ml-10">
      <h2 class="text-xl font-semibold uppercase text-custom-letter2">Habilidades Adicionales</h2>
      <div class="flex flex-wrap mt-4">
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/data.png" alt="Data" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Preprocesamiento de Datos</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/data.png" alt="Data" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Visulización de Datos</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/matplotlib.png" alt="Matplotlib" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">Matplotlib</span>
        </div>
        <div class="flex items-center mr-6 mb-4">
          <img src="icons/knn.png" alt="KNN" class="w-12 h-12 rounded-full bg-center">
          <span class="ml-2 text-custom-letter2">K-Nearest Neighbors</span>
        </div>
      </div>
    </div>
  </div>
</div>




    <!-- Sección Contacto -->
    <div id="Contacto" class="section flex-1 h-full bg-custom-purple2 box-border border-2 border-white">
      <div class="mt-80 ml-10">
        <h1 class="text-6xl text-custom-tittle font-semibold uppercase">Contáctame!</h1>

        <div class="mt-10 flex items-center">
          <p class="text-xl text-custom-letter2 flex items-center">
            <img src="icons/email.png" alt="Email Icon" class="w-6 h-6 mr-2">
            Email:
            <a href="mailto:Alexander.tapia@alumnos.ucn.cl" class="text-blue-500 ml-2">
              alexandertapiaolmedo&#64;gmail.com
            </a>
          </p>
        </div>

        <div class="mt-10 flex items-center">
          <p class="text-xl text-custom-letter2 flex items-center">
            <img src="icons/phone.png" alt="WhatsApp Icon" class="w-6 h-6 mr-2">
            WhatsApp:
            <a href="https://wa.me/56961917853" class="text-blue-500 ml-1" target="_blank">
              +56961917853
            </a>
          </p>
        </div>

        <div class="mt-10 flex items-center">
          <p class="text-xl text-custom-letter2 flex items-center">
            <img src="icons/linkedin.png" alt="Linkedin Icon" class="w-6 h-6 mr-2">
            Linkedin:
            <a href="https://www.linkedin.com/in/alexander-gubier-oscar-tapia-10aa3725b/" class="text-blue-500 ml-2">
              in/AlexanderTapia
            </a>
          </p>
        </div>

      </div>
    </div>




    <!-- Otras secciones -->
    <footer class="bg-custom-purple text-white text-center py-4">
      <p>© 2024 PortafolioAle - Todos los derechos reservados</p>
    </footer>
  </div>
</div>

