<div class="flex w-full min-h-screen bg-custom-purple2">
  <!-- Sección Sidebar -->
  <audio id="background-music" autoplay loop>
    <source src="music/Cyberpunk.mp3" type="audio/mp3">
    Your browser does not support the audio element.
  </audio>
  <div class="w-60 bg-custom-purple fixed h-full ">
    <ul class="list-none p-0">
      <div class="mt-80">
        <img src="images/David.jpg" alt="David" class="w-40 h-40 mb-10 rounded-full bg-center my-8 mx-auto">
        <li class="mb-1">
          <a href="#Alexander" class="block text-custom-letter no-underline p-2 hover:text-yellow-200 text-center uppercase font-ruso">Alexander</a>
        </li>
        <li class="mb-1">
          <a href="#Sobre_mi" class="block text-custom-letter no-underline p-2 hover:text-yellow-200 text-center uppercase font-ruso">Sobre mi</a>
        </li>
        <li class="mb-1">
          <a href="#Portfolio" class="block text-custom-letter no-underline p-2 hover:text-yellow-200 text-center uppercase font-ruso">Portfolio</a>
        </li>
        <li class="mb-1">
          <a href="#Educacion" class="block text-custom-letter no-underline p-2 hover:text-yellow-200 text-center uppercase font-ruso">Educacion</a>
        </li>
        <li class="mb-1">
          <a href="#Skills" class="block text-custom-letter no-underline p-2 hover:text-yellow-200 text-center uppercase font-ruso">Skills</a>
        </li>
        <li class="mb-1">
          <a href="#Contacto" class="block text-custom-letter no-underline p-2 hover:text-yellow-200 text-center uppercase font-ruso">Contacto</a>
        </li>
        <!-- Otros enlaces -->
      </div>
    </ul>
  </div>
  <!-- Contenido principal -->
  <div class="ml-60 flex-1 border-2 box-border h-screen">
    <!-- Sección Alexander -->
    <div id="Alexander" class="section flex-1 h-full bg-custom-purple2 box-border border-2 border-white">
      <div class=" ml-14 h-full mt-80">
        <h1 class="text-8xl font-semibold uppercase">
          <span class="text-custom-tittle mr-6">Alexander</span>
          <span class="text-yellow-300">Tapia</span>
        </h1>
        <p class="typing-effect text-yellow-300">En la direccion de desarrollador web</p>
        <p class="text-2xl text-custom-letter2 mt-4 uppercase"> Bienvenidx a mi portfolio （＾ｖ＾）</p>
      </div>
    </div>

    <!-- Sección Sobre mí -->
    <div id="Sobre_mi" class="section flex-1 h-full bg-custom-purple2 box-border border-2 border-white">
      <h1 class="text-6xl text-custom-tittle font-semibold uppercase mt-32 ml-10">Sobre mí</h1>
      <p class="text-base text-custom-letter2 mt-10 ml-10">
        Estoy trabajando en varios proyectos personales que enriquecerán significativamente mis conocimientos. Espero alcanzar mis metas en un plazo adecuado. Me apasiona aprender cosas nuevas y aplicarlas en la práctica.
      </p>
      <div class="mt-10 ml-2 mr-52">
        <h2 class="text-3xl text-custom-tittle font-semibold uppercase ml-10">
          Actualmente
        </h2>
        <ul class="list-disc pl-5 mt-4 text-base text-custom-letter2 ml-10">
          <li>Desarrollo de software</li>
          <li>Desarrollo de videojuegos</li>
          <li>Robótica</li>
          <li>Machine Learning</li>
          <li>Automatización</li>
          <li>Ciencia de datos</li>
        </ul>
      </div>
    </div>

    <!-- Sección Portfolio -->
    <div id="Portfolio" class="section flex-1 h-full bg-custom-purple2 box-border border-2 border-white text-custom-letter">
      <h1 class="text-6xl text-custom-tittle font-semibold uppercase ml-10 mt-10">portfolio</h1>
      <div class="flex mt-20 ml-10 mr-auto max-w-screen-md">
        <div class="border border-white rounded-lg mr-10 block bg-custom-purple" style="max-width: 500px; height: 500px;">
          <div class="w-full h-1/2">
            <img src="images/dream.png" alt="city" class="w-full h-full rounded-lg object-cover">
          </div>
          <div class="mt-4r">
            <h2 class="text-2xl font-semibold text-custom-tittle ml-2">Dream city</h2>
            <p class="text-lg mt-2 text-custom-letter2 ml-2">Una ciudad soñada</p>
            <a href="https://cl.pinterest.com/pin/47780446039735070/" class="text-blue-500 mt-2 block ml-2">GitHub</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Sección Educación -->
    <div id="Educacion" class="section flex-1 h-full bg-custom-purple2 box-border border-2 border-white">
      <div class="mt-10 ml-10">
        <h1 class="text-6xl text-custom-tittle font-semibold uppercase">Educacion</h1>
        <h2 class="text-3xl font-semibold text-center flex justify-between mt-10">
          <span class="text-custom-tittle">Universidad catolica del norte</span>
          <span class="text-yellow-200 mr-10">Enero 2019 Actualmente</span>
        </h2>
        <p class="text-lg text-custom-letter2">Ingenieria civil en computacion e informatica</p>
        <p class="text-lg text-custom-letter2">Duración: 5 años</p>
        <button class="bg-blue-500 text-white px-4 py-2 mt-2 rounded-md">Certificado</button>
      </div>
      <div class="mt-10 ml-10">
        <h2 class="text-3xl font-semibold text-center flex justify-between mt-3">
          <span class="text-custom-tittle">Coursera</span>
          <span class="text-yellow-200 mr-10">Enero 2024 Actualmente</span>
        </h2>
        <p class="text-lg text-custom-letter2">Machine learning google</p>
        <p class="text-lg text-custom-letter2">Duración: 6 meses</p>
        <button class="bg-blue-500 text-white px-4 py-2 mt-2 rounded-md">Certificado</button>
      </div>
    </div>

    <!-- Sección Skills -->
    <div id="Skills" class="section flex-1 h-full bg-custom-purple2 box-border border-2 border-white">
        <div class="mt-60">
          <h1 class="text-6xl text-custom-tittle font-semibold uppercase mt-10 ml-10">Skills</h1>
          <div class="mt-10 ml-10">
            <h2 class="mt-10 uppercase text-xl text-custom-letter2"> Lenguajes de programacion </h2>
            <img src="icons/iconC.png" alt="C" class="w-10 h-10 rounded-full bg-center float-left mr-4 mt-2 mb-2">
          </div>
          <div class="mt-16 ml-10">
            <h2 class="mt-10 uppercase text-xl text-custom-letter2"> Frameworks y librerias </h2>
            <img src="icons/Tailwind.png" alt="C" class="w-10 h-10 rounded-full bg-center float-left mr-4 mt-2 mb-2">
          </div>
          <div class="mt-16 ml-10">
            <h2 class="mt-10 uppercase text-xl text-custom-letter2"> Frameworks y librerias </h2>
            <img src="icons/Unity.png" alt="C" class="w-10 h-10 rounded-full bg-center float-left mr-4 mt-2 mb-2">
          </div>
        </div>
    </div>

    <!-- Sección Contacto -->
    <div id="Contacto" class="section flex-1 h-full bg-custom-purple2 box-border border-2 border-white">
      <div class="mt-80 ml-10">
        <h1 class="text-6xl text-custom-tittle font-semibold uppercase">Contáctame!</h1>
        <div class="mt-10">
          <p class="mt-10 text-xl text-custom-letter2"> Email: Alexander.tapia&#64;alumnos.ucn.cl </p>
        </div>
        <div class="mt-10">
          <p class="mt-10 text-xl text-custom-letter2"> Whatsapp: +56961917853 </p>
        </div>
        <div class="mt-10">
          <a href="https://www.linkedin.com/in/alexander-gubier-oscar-tapia-10aa3725b/" class="text-blue-500 mt-2 block">Linkedin</a>
        </div>
      </div>
    </div>


    <!-- Otras secciones -->

  </div>
</div>

